.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.square {
  border: 0.5px solid black;
  width: 310px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.block {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  color: lightseagreen;
}

.desc {
  font-size: smaller;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.small {
  font-size: small;
  margin-top: 3em;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

input {
  margin-top: 1em;
  text-align: center;
}

b {
  color: lightgreen;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: lightseagreen;
}

@media screen and (max-width: 480px) {
  .square {
    width: 210px;
    height: 210px;
  }
  
  .block {
    width: 40px;
    height: 40px;
  }
}